.board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 3px solid #333;
  width: fit-content;
  height: fit-content;
  margin: 20px auto;
}
.selected {
  outline: 3px solid yellow;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2rem;
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}
